html * {
  font-family: 'Josefin Sans', sans-serif !important;
}

.monthsBase, .subCards {
  display: none;
}

#yearCol, #dayCol {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.collapse.in{
  display:block !important;
  float: left;
  width: 100%;
}

.card:hover {
  border-image: none;
  border-color: #fff;
  background-image: linear-gradient(to right, rgba(141,59,114,0.3) 0%, rgba(138,112,144,0.3) 25%, rgba(137,167,167,0.3) 50%, rgba(114,225,209,0.3) 75%, rgba(181,216,204,0.3) 100%);
}

.btn-outline {
  background-color: #fff;
}

#btnA {
  border-color: #8D3B72;
  color: #8D3B72;
}

#btnA:hover, #btnA.active {
  background-color: #8D3B72;
  color: white;
}

#btnB {
  border-color: #8A7090;
  color: #8A7090;
}

#btnB:hover, #btnB.active {
  background-color: #8A7090;
  color: white;
}

#btnC {
  border-color: #89A7A7;
  color: #89A7A7;
}

#btnC:hover, #btnC.active {
  background-color: #89A7A7;
  color: white;
}

#btnD {
  border-color: #72E1D1;
  color: #72E1D1;
}

#btnD:hover, #btnD.active {
  background-color: #72E1D1;
  color: white;
}

#btnE {
  border-color: #B5D8CC;
  color: #B5D8CC;
}

#btnE:hover, #btnE.active {
  background-color: #B5D8CC;
  color: white;
}

#btnReset, #btnApply {
  border-color: #121616;
  color: #121616;
}

#btnReset:hover {
  border-color: transparent;
  background: linear-gradient(to right, rgba(141,59,114,0.6) 0%, rgba(138,112,144,0.7) 50%, rgba(137,167,167,0.7) 100%);
  background-size: 105% auto;
}

#btnApply:hover {
  border-color: transparent;
  background: linear-gradient(to right, rgba(137,167,167,0.7) 0%, rgba(114,225,209,0.7) 50%, rgba(181,216,204,0.7) 100%);
  background-size: 105% auto;
}

.ct-series-a .ct-line {
  stroke: #8D3B72;
}

.ct-series-a .ct-area {
  fill: #8D3B72;
}

.ct-series-b .ct-line {
  stroke: #8A7090;
}

.ct-series-b .ct-area {
  fill: #8A7090;
}

.ct-series-c .ct-line {
  stroke: #89A7A7;
}

.ct-series-c .ct-area {
  fill: #89A7A7;
}

.ct-series-d .ct-line {
  stroke: #72E1D1;
}

.ct-series-d .ct-area {
  fill: #72E1D1;
}

.ct-series-e .ct-line {
  stroke: #B5D8CC;
}

.ct-series-e .ct-area {
  fill: #B5D8CC;
}

#yearChart .ct-series-a .ct-area {
  fill: url(#fiveColorGradientTakeTwo) !important;
}

#yearChart .ct-series-a .ct-line {
  stroke: url(#fiveColorGradientTakeTwo) !important;
}

#dayChart .ct-series-a .ct-area {
  fill: url(#fiveColorGradient) !important;
}

#dayChart .ct-series-a .ct-line {
  stroke: url(#fiveColorGradient) !important;
}

.ct-zoom-rect {
  fill: rgba(174, 172, 182, 0.349);
  stroke: url(#fiveColorGradientTakeTwo)
}

.linkColor {
  color: #B5D8CC;
}

.linkColor:hover {
  color: #8D3B72;
}

.card {
  border-image: linear-gradient(to right, rgba(141,59,114,0.3) 0%, rgba(138,112,144,0.3) 25%, rgba(137,167,167,0.3) 50%, rgba(114,225,209,0.3) 75%, rgba(181,216,204,0.3) 100%);
  border-image-slice: 1;
  border-width: 0.1sem;
}

.valueSelect.active, .timeSelect.active, .timeSelect:active, .valueSelect:active {
  background-color: rgba(141,59,114,0.3);
}

.valueSelectDay.active, .valueSelectDay:active {
  background-color: rgba(137,167,167,0.3);
}

/*
** Github Corner-Banner
** MIT License
*/
.github-corner {
  fill: url(#fiveColorGradient);
  color: #fff;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover {
  color: #fff;
}
.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100% {transform:rotate(0)}
  20%,60%{transform:rotate(-25deg)}
  40%,80%{transform:rotate(10deg)}
}